/* css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: aqua;
    background-color: #d44b4b;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 15px;
    background-color: antiquewhite;
}


