<!-- html -->
{% extends "base.html" %}
{% block content %}Dashboard{% endblock %}
{%block content%}

<div class="container">
    <h1>Dashboard</h1>
    <p>Welcome to the CS Command Center Dashboard!</p>

    <form method="GET" action="{{ url_for('dashboard') }}">
        <label for="course">Filter by course:</label>
        <select name="course" id="course" onchange="this.form.submit()">
            <option value="All courses" {% if selected_course == "all courses" %}selected{% endif %}>All courses</option>
            {% for course in courses %}
                <option value="{{ course }}" {% if selected_course == course %}selected{% endif %}>{{ course }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <form method="GET" action="{{ url_for('dashboard') }}">
        <input type="text" name="search" placeholder="Search assignments..." 
        value="{{ selected_query }}">

        <input type="hidden" name="course" value="{{ selected_course }}">
        <button type="submit">Search</button>
        <a href="{{ url_for('dashboard', course=selected_course) }}">Clear search</a>
    </form>

    {% if loading %}
        <p>Loading assignments</p>

    {% elif assignments | length == 0 %}
        <p>No assignments found</p>

    {% else %}
        {% for assignment in assignments %}
            <div>
                <h3>
                    <a href="{{ assignment.url }}">{{ assignment.name }}</a>
                </h3>
                <p>course: {{ assignment.course_name }}</p>
                <p>due: {{ assignment.due_at }}</p>
            </div>
            <hr>
    {% endfor %}
{% endif %}
</div>
{% endblock %}